body {
  background-color: #e6ecf0;
}

body>.container {
  margin-top: 63px;
}

.blue-bc {
  background-color: #1da1f2;
  color: #fff;
}

.blue-color {
  color: #1da1f2;
}

.gray-color {
  color: #657786;
}

.border-radius {
  border-radius: 20px;
}

nav.navbar {
  border-bottom: 1px solid rgba(0,0,0,0.25);
}

.navbar-default .navbar-nav>li.item-menu {
  font-weight: bold;
  font-size: 13px;
}

.navbar-default .navbar-nav>li .fa {
  font-size: 18px;
}

.navbar-default .navbar-nav>li.item-menu-check>a, .navbar-default .navbar-nav>li.item-menu>a:hover {
  border-bottom: 2px solid #1da1f2;
  color: #1da1f2;
}

.navbar-default .navbar-nav>li.logo {
  position: absolute;
  left: 50%;
}

img.img-profile {
  height: 32px;
  width: 32px;
  background-color: #2c3e50;
  border-radius: 50%;
}

.btn-pattern {
  background-color: #4ab3f4;
  color: #fff;
  font-weight: bold;
}

.btn-pattern:hover {
  background-color: #1da1f2;
  color: #fff;
}

.profile-top {
  height: 95px;
}

.profile-bottom {
  background-color: #fff;
  height: 113px;
}

.profile>div {
  height: 52px;
}

.profile-info {
  height: 61px;
  display: table;
  width: 100%;
}

.profile-info div {
  display: table-cell;
  padding-right: 10px;
  padding-left: 10px;
}

.profile-info a>div>h6, .profile-info a>div>h4 {
  font-weight: bold;
  margin-bottom: -5px;
}

.profile-foto>a>img {
  background-color: #2c3e50;
  border-radius: 50%;
  border: 2px solid #fff;
  height: 72px;
  width: 72px;
  margin: -30px 0 0 0;
}

.profile-bottom .col-md-8 h4 {
  font-weight: bold;
  margin: 8px 0 -5px -15px;
}

.profile-bottom h5 {
  margin-left: -15px;
}

.trends {
  background-color: #fff;
  margin-top: 10px;
  display: block;
}

.trends>.trends-top>h4 {
  font-weight: bold;
}

.trends>.trends-top h6>a {
  color: #1da1f2;
}

.trends-top>* {
  margin-top: 15px;
  display: inline-block;
}

.trends>.trend-item>a>h5 {
  color: #1da1f2;
  font-weight: bold;
  margin: 0 5px -8px 0px;
}

.module-center {
  padding: 0 10px;
}

.internal-module-center {
  background-color: #fff;
}

.new-tweet {
  background-color: #e8f5fd;
  padding: 10px 10px 10px 20px;
}

.new-tweet>* {
  display: inline-block;
}

.new-tweet>.form-control {
  max-width: 400px;
  resize: none;
}

.new-tweet>.form-control:focus {
  height: 80px;
}

.new-tweet>img.img-profile, .new-tweet>button.btn-pattern {
  margin-top: -26px;
}

#see-new-tweets {
  background-color: #f5f8fa;
  color: #1da1f2;
  height: 42px;
  width: 100%;
  border: none;
  border-bottom: 1px solid #e6ecf0;
  border-top: 1px solid #e6ecf0;
}

#see-new-tweets:hover {
  background-color: #e6ecf0;
  border: 1px solid #ccd6dd;
}

.follow {
  background-color: #fff;
  display: block;
}

.follow>.how-to-follow>h4 {
  margin-top: 15px;
  font-weight: bold;
}

.follow>.how-to-follow h6>a {
  color: #1da1f2;
}

.how-to-follow>* {
  display: inline-block;
}


.who-to-follow>.followed-by {
  margin: 0;
}

.followed-by {
  width: 100%;
  text-align: center;
}

.content {
  border-bottom: 1px solid #e6ecf0;
  width: 100%;
  padding-bottom: 10px;
}

.content>a>img.img-follow {
  height: 48px;
  width: 48px;
  position: absolute;
}

.profile-follow {
  margin-left: 58px;
}

.profile-follow>h5>a {
  font-weight: bold;
  color: #000;
}

.profile-follow>h5>a:hover {
  color: #1da1f2;
}

.profile-follow>h5 {
  display: inline;
}

.profile-follow>h5>a>i.fa-times {
  float: right;
  margin-top: 3px;
}

.profile-follow>i.fa-check-circle {
  color: #1da1f2;
}

.btn-follow {
  background-color: #fff;
  color: #1da1f2;
  font-weight: bold;
  width: 84px;
  height: 26px;
  padding: 3px;
  border: 1px solid #1da1f2;
  margin-top: 2px;
}

.btn-follow:hover {
  background-color: #e8f5fd;
  color: #1da1f2;
}

.outlook-content {
  margin-left: 40px;
}

.img-outlook {
  position: absolute;
  width: 32px;
  height: 32px;
  border: 1px solid #e6ecf0;
  border-radius: 5px;
  background-color: #fff;
}

.outlook-content>h5 {
  color: #000;
  font-weight: bold;
  margin-bottom: -8px;
}

.outlook-content>h6 {
  margin-bottom: 0;
}

.footer {
  padding-top: 10px;
  margin-top: 10px;
  background-color: #fff;
}

.footer>.list-inline>li {
  padding-right: 0;
  margin-top: -10px;
  margin-bottom: -10px;
}

.footer>.list-inline>li>h6>a:hover {
  color: #1da1f2;
}

.footer>h6>a>.fa-external-link {
  font-size: 12px;
}

.footer>h6>* {
  color: #1da1f2;
}

.tweet {
  border-bottom: 1px solid #e6ecf0;
  padding: 10px;
}

.tweet:hover {
  background-color: #f5f8fa;
}

.tweet>a>img.tweet-profile-photo {
  height: 48px;
  width: 48px;
  position: absolute;
}

.tweet-content {
  margin-left: 58px;
}

.tweet-content>img {
  width: 100%;
  border-radius: 5px;
  margin-bottom: 10px;
}

.tweet-content>.embed-responsive {
  margin-bottom: 10px;
}

.tweet-content>h5 {
  line-height: 1.4;
}

.tweet-content>h5>a {
  color: #1da1f2;
}

.btn-more-tweet {
  float: right;
  margin-top: -20px;
}

.btn-more-tweet>.dropdown-menu>li>a {
  color: #657786;
}

.btn-more-tweet>.dropdown-menu>li>a:hover {
  background-color: #1da1f2;
  color: #fff;
}

.actions-tweet>* {
  display: inline;
  font-weight: bold;
  color: #657786;
}

.actions-tweet>a>.fa {
  font-size: 16px;
  color: #657786;
}

.actions-tweet>a>.fa-comment-o {
  margin-left: 58px;
}

.actions-tweet>a>.fa-retweet {
  margin-left: 30px;
}

.actions-tweet>a>.fa-heart-o {
  margin-left: 30px;
}

.actions-tweet>a>.fa-envelope-o {
  margin-left: 30px;
}

.actions-tweet>a>.fa-comment-o:hover {
  text-decoration: none;
  color: #1da1f2;
}

.actions-tweet>a>.fa-retweet:hover {
  text-decoration: none;
  color: #17bf63;
}

.actions-tweet>a>.fa-heart-o:hover {
  text-decoration: none;
  color: #e0245e;
}

.actions-tweet>a>.fa-envelope-o:hover {
  text-decoration: none;
  color: #1da1f2;
}
