body {
  background-color: #e6ecf0;
}

body>.container {
  margin-top: -10px;
}

.blue-bc {
  background-color: #1da1f2;
  color: #fff;
}

.blue-color {
  color: #1da1f2;
}

.gray-color {
  color: #657786;
}

.border-radius {
  border-radius: 20px;
}

.navbar-default .navbar-nav>li.item-menu {
  font-weight: bold;
}

.navbar-default .navbar-nav>li .fa {
  font-size: 18px;
}

.navbar-default .navbar-nav>li.item-menu-check>a, .navbar-default .navbar-nav>li.item-menu>a:hover {
  border-bottom: 2px solid #1da1f2;
  color: #1da1f2;
}

.navbar-default .navbar-nav>li.logo {
  position: absolute;
  left: 50%;
}

img.img-profile {
  height: 32px;
  width: 32px;
  background-color: #2c3e50;
  border-radius: 50%;
}

.btn-pattern {
  background-color: #4ab3f4;
  color: #fff;
  font-weight: bold;
}

.btn-pattern:hover {
  background-color: #1da1f2;
  color: #fff;
}

.profile-top {
  height: 95px;
}

.profile-bottom {
  background-color: #fff;
  height: 113px;
}

.profile>div {
  height: 52px;
}

.profile-info {
  height: 61px;
  display: table;
  width: 100%;
}

.profile-info div {
  display: table-cell;
  padding-right: 10px;
  padding-left: 10px;
}

.profile-info a>div>h6, .profile-info a>div>h4 {
  font-weight: bold;
  margin-bottom: -5px;
}

.profile-foto>a>img {
  background-color: #2c3e50;
  border-radius: 50%;
  border: 2px solid #fff;
  height: 72px;
  width: 72px;
  margin: -30px 0 0 0;
}

.profile-bottom .col-md-8 h4 {
  font-weight: bold;
  margin: 8px 0 -5px -15px;
}

.profile-bottom h5 {
  margin-left: -15px;
}

.trends {
  background-color: #fff;
  margin-top: 10px;
  display: block;
}

.trends>.trends-top>h4 {
  font-weight: bold;
}

.trends>.trends-top>h6 {
  color: #1da1f2;
}

.trends-top>* {
  margin-top: 15px;
  display: inline-block;
}

.trends>.trend-item>a>h5 {
  color: #1da1f2;
  font-weight: bold;
  margin: 0 5px -8px 0px;
}

.module-center {
  padding: 0 10px;
}

.internal-module-center {
  background-color: #fff;
}

.new-tweet {
  background-color: #e8f5fd;
  padding: 10px 10px 10px 20px;
}

.new-tweet>* {
  display: inline-block;
}

.new-tweet>.form-control {
  max-width: 400px;
  resize: none;
}

.new-tweet>.form-control:focus {
  height: 80px;
}

.new-tweet>img.img-profile, .new-tweet>button.btn-pattern {
  margin-top: -26px;
}
