body {
  background-color: #e6ecf0;
}

body>.container {
  margin-top: -10px;
}

.blue-bc {
  background-color: #1da1f2;
  color: #fff;
}

.blue-color {
  color: #1da1f2;
}

.gray-color {
  color: #657786;
}

.border-radius {
  border-radius: 20px;
}

.navbar-default .navbar-nav>li.item-menu {
  font-weight: bold;
}

.navbar-default .navbar-nav>li .fa {
  font-size: 18px;
}

.navbar-default .navbar-nav>li.item-menu-check>a, .navbar-default .navbar-nav>li.item-menu>a:hover {
  border-bottom: 2px solid #1da1f2;
  color: #1da1f2;
}

.navbar-default .navbar-nav>li.logo {
  position: absolute;
  left: 50%;
}

.btn-pattern {
  background-color: #4ab3f4;
  color: #fff;
  font-weight: bold;
}

.btn-pattern:hover {
  background-color: #1da1f2;
  color: #fff;
}

.module-center {
  padding: 0 10px;
}
